:root{
  --back: #f5f1eb;
  --medio: #edeff1;
  --oscuro: #6b6b6b;
  --titulo: black;
  --principal: rgba(219, 131, 2, 1);
  --texto: black;
}

*{
  padding: 0px;
  margin: 0px;
}

body {

  background: var(--back);
  /*background: -webkit-linear-gradient(-90deg, #d5c7c6, #64728f); 
  background: -o-linear-gradient(-90deg, #d5c7c6, #64728f);
  background: -moz-linear-gradient(-90deg, #d5c7c6, #64728f); 
  background: linear-gradient(-180deg, #315386, #222428);*/
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-weight: 300;
}

#main-container {
  border-radius: 4px 2px 2px 4px;
  position: absolute;
  width: 100%;
  background: var(--back);
  height: 100%;
}
.light-menu {
  height: 100%;
  float: left;
  width: 10%;
  margin-right: -9px;
}

.light-menu a {
  color: #85899b;
  display: block;
  width: 100%;
  padding: 10% 10% 10% 22%;
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
}

.light-menu a:hover {
  color: #333;
}

.light-menu a.active {
  color: #33353c;

}

.active-icon {
  margin-left: -3px;
}

#search-btn {
  background: #5e9cf7;
  color: #fff;
  border-radius: 2px 0 0 0;
}

.top-menu {
  max-height: 56px;
  background: var(--medio);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
  z-index: 999999;
  width: 100%;
  height: 100%;
  
}

#page_title {
  background: transparent;
  float: left;
  margin: 0 -10% 10% 0;
  margin-left: 10px;
  padding-top: 10%;
}

nav {
  position: relative;
  z-index: 1;
  white-space: nowrap;
  float: left;
  position: relative;
  left: 3.5%;
}

nav a {
  position: relative;
  display: inline-block;
  padding: 1.9em 2em 1.2em 1em;
  color: #757c8f;
  text-decoration: none;
  margin: 0 -3px;
  position: relative;
  top: 4px;
  font-size: 13px;
  font-weight: 600;
}
nav a:hover::before {
  content: ''; /* To generate the box */
  position: absolute;
  top: 0; right: 0; bottom: 4px; left: 0;
  z-index: -1;
  border-bottom: none;
  border-radius: 5px 2px 0 0;
  background: rgba(219, 131, 2, 1);
  box-shadow: 0 2px hsla(0,0%,100%,.5) inset;
  transform: perspective(5px) rotateX(2deg);
  transform-origin: bottom left;
}

.active::before {
  content: ''; /* To generate the box */
  position: absolute;
  top: 0; right: 0; bottom: 4px; left: 0;
  z-index: -10;
  border-bottom: none;
  border-radius: 5px 2px 0 0;
  background: var(--principal);
  box-shadow: 0 2px hsla(0,0%,100%,.5) inset;
  transform: perspective(5px) rotateX(2deg);
  transform-origin: bottom left;
  box-shadow: inset 0px 0px 10px #dadce0;
  width: 100%;
}

.active{
  color: var(--texto);
  padding: 1.9em 3em 1.2em 1em;
  margin-right: -10px;
  margin-left: 1px
}

#content {
  background: transparent;
  position: absolute;
  height: 90%;
  float: right;
  position: relative;
  z-index: 10;
  width: 90%;
}

#table-content {
  overflow-y: scroll;
  background: #fff;
  width: calc(97.5% - 40px);
  height: calc(93.1% - 40px);
  margin-top: 20px;
  box-shadow: #dcdee3 0px 0px 10px;
  margin-left: 5px;
  padding: 20px;
}
/*
#table-content table {
  width: 100%;
}*/

#table-content thead {
  background: #f2f3f5;
}

#table-content thead tr td {
  color: #757e92;
  font-size: 10px;
  text-transform: uppercase;
  padding: 14px 10px;
}

#table-content tbody tr td {
  padding: 14px 10px;
  border-bottom: #eaecee solid 1px;
}

#table-content tbody tr:hover {
  background: #fefaf2;
}

.name-td {
  font-size: 13px;
  font-weight: 600;
}

.desc-td {
  font-size: 13px;
  color: #64697a;
}

.date-td {
  text-align: right;
  font-size: 9px;
}

.checked {
  background: #fefaf2;
}
button:disabled{
  display: none;
}
/*radioB*/
.radioC{
  display: inline-block;
  position: relative;
  cursor: pointer;
  user-select: none;
  padding-left: 30px;
  padding-top: 7px;
}
.radioC input {
  display: none;
}
.radioC .radio{
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: #eee;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 50%;
}
.radioC:hover .radio{
  background-color: #ccc;
}
.radioC input:checked + .radio{
  background-color: var(--principal)
}
.radioC input:checked + .radio:after{
  content: "";
  height: 10px;
  width: 10px;
  background-color: white;
  position: absolute;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
/*cronograma */
  /*buttonS*/
.buttonS{
margin-right: 65%;
font-size: 30px !important;
font-weight: bold !important;
padding-top: 5%;
}
  /*overflow div*/
.overflow{
  overflow: auto;
}
  /*tabla ventas*/
.tableV th {
  text-align: center;
}
.tableV {
  margin-left: 1%;
  width: 98%;
}

